<div class="jumbotron text-center" ng-if="!main.loggedIn">

	<div>
		<h1>If you have balls Sign Up!</h1>
	</div>

	<div>
		<p>Login to write your diary</p>
		<a href="/login" class="btn btn-primary">Login</a>
	</div>

</div>




<div class="row" ng-if="main.loggedIn">
	<div class="col-md-3">


	</div>

	<!-- NewsFeed and creating a story -->

	<div class="col-md-6" ng-controller="StoryController as story">
		<div class="row">

			<div class="panel panel-primary">

				<div class="panel-heading"><h4 class="hColor">Write your Story</h4></div>
				<div class="panel-body">
					<form ng-submit="story.createStory()">	
						<input class="form-control input-lg" type="text" name="story" ng-model="story.storyData.content" placeholder="Story" required>
					</form>
				</div>

			</div>
		</div>

		<div class="row">




			<div class="panel panel-default widget" >
				<div class="panel-heading">
					<span class="glyphicon glyphicon-comment"></span>
					<h3 class="panel-title">
						Your Stories</h3>
						<span class="label label-info">
							78</span>
						</div>
						<div class="panel-body" ng-repeat="story in stories | reverse" >
							<ul class="list-group">
								<li class="list-group-item">
									<div class="row">
										<div class="col-xs-10 col-md-11">
											<div>
												<div class="mic-info">
													<a href="#">{{ main.user.username }}</a> {{ story.createdAt | date:'MMM d, yyyy' }}
												</div>
											</div>
											<div class="comment-text">
												<a href="/{{ main.user.name }}/{{ story._id }}"><h4>{{ story.content }}</h4></a>
											</div>
										</div>
									</div>
								</li>
							</ul>
						</div>
					</div>
				</div>

			</div>
			<div class="col-md-3">


			</div>

		</div>





